<% page_title_tag t("co_listen_session.label.edit_co_listen_session") %>

<div class='o-container o-container--narrow'>
  <h2 class='u-mb-0'><%= t("co_listen_session.label.edit_co_listen_session") %></h2>
  <hr>
  <%= render partial: "co_listen_sessions/form", locals: { co_listen_session: @co_listen_session } %>
</div>
